# Please feel free to add your editors' files while you are working with the project.
# But do restrain yourself from adding non-project related files here.

# Python
__pycache__
*.pyc

# IDEs & Editors
.idea

# Frameworks & Libraries
dist
poetry.lock

# Project Specific
# ETC
